/* Estilos globales para la aplicación */

body, html, #root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* Añadir padding para compensar el header y navbar fijos */
main {
  margin-top: 110px; /* 60px del header + 40px del navbar + 10px de espacio extra */
  padding: 20px;
}

/* Para envolver el contenido de las rutas */
.content-wrapper {
  padding-top: 110px; /* 60px header + 40px navbar + 10px de espacio extra */
  min-height: calc(100vh - 110px); /* Asegura que el contenido ocupe al menos el espacio disponible */
  display: flex;
  flex-direction: column;
}

.center-content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: calc(100vh - 110px);
}

footer {
  margin-top: auto;
  margin-bottom: 1px;
  width: 100%;
}